<div class="container">

    <img [src]="product.image" [alt]="product.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{product.name}}
            </span>
        </div>
        <div class="specs">
            <span>
                {{product.specifications}}
            </span>
        </div>
        <div class="price">
            <span>
                {{product.price|currency:"PHP":"symbol"}}
            </span>
        </div>

        <button>
            Add to Cart
        </button>
    </div>
</div>

