<app-search></app-search>
<ul>
    <li *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <a>
            <img src="{{product.image}}" alt="">
            <div class="content">
                <div class="name">
                    <span class="productName">{{product.name}}</span>
                </div>
                <div class="specs">
                    <span class="productSpecs">{{product.specifications}}</span>
                </div>
                <div class="price">
                    <span>
                        {{product.price|currency:"PHP":"symbol"}}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<div class="pages">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
