ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;

}
a {
    padding: 0.8rem;
}
li img {
    height: 10rem;
    width: 10rem;
}
li a {
    height: 20rem;
    width: 12rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #3d4aff;
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.productSpecs {
    color: gray;
    font-size: 0.8rem;
}